Django==3.0rc1
djangorestframework==3.10.3
django-allauth==0.40.0
django-cors-headers==3.2.0
django-environ==0.4.5
django-rest-auth==0.9.5
django-enumfield==2.0
django-storages>=1.8,<1.9
model_bakery>=1.0.2,<1.1
psycopg2-binary==2.8.4
uWSGI==2.0.18
whitenoise>=4.1.4,<4.2
boto3>=1.10.28,<1.11
ipdb
