black
Django>=3.0,<3.1
djangorestframework==3.10.3
django-allauth==0.40.0
django-cors-headers==3.2.0
django-debug-toolbar>=2.1,<2.2
django-environ==0.4.5
django-extensions>=2.2.5,<2.3
django-rest-auth==0.9.5
django-organizations>=1.1.2,<1.2
django-storages>=1.8,<1.9
drf-nested-routers>=0.91,<0.92
model_bakery>=1.0.2,<1.1
psycopg2-binary==2.8.4
uWSGI==2.0.18
whitenoise>=4.1.4,<4.2
boto3>=1.10.28,<1.11
sentry-sdk>=0.13.4,<0.14
ipdb
pylint
pylint-django