<style>
    h1 {
        color: #e22a46;
    }
    a {
        color: #e22a46;
    }
</style>

<h1>GlitchTip Alert</h1>

<h2>
    {{ object.monitor }} {{ status_msg }}
</h2>
{% if object.monitor.url %}
    <div>
        <strong>URL:</strong> {{ object.monitor.url }}
    </div>
{% endif %}
{% if object.reason %}
    <div>
        <strong>Reason:</strong> {{ object.get_reason_display }}
    </div>
{% endif %}
    <div>
        <strong>When:</strong> {{ object.start_check }}
    </div>
<a href="{{ base_url }}">GlitchTip</a>