{% load static settings %}
<style>
  .box {
    margin: auto;
    width: fit-content;
    padding: 10px;

    font-family:Helvetica,Arial,sans-serif;
    font-size:16px;
    font-weight:400
  }
  .monitor-item {
    margin-top: 5px;
  }
  .up-symbol {
    font-size: 20px;
    color: green;
  }
  .down-symbol {
    font-size: 15px;
    color: red;
  }
  .unknown-symbol {
    font-size: 20px;
    color: black;
  }
  .glitchtip-branding {
    margin-top: 20px;
  }
  .logo {
    margin-top: 5px;
  }
</style>

<div class="box">
  <h1>{{ object }} Status</h1>

  <h3>Monitored Services</h3>
  <div>
    {% for monitor in monitors %}
    <div class="monitor-item">
      {% if monitor.latest_is_up != none %}
        {% if monitor.latest_is_up %}
          <span class="up-symbol">&#10003;</span>
        {% else %}
          <span class="down-symbol">&#10060;</span>
        {% endif %}
        <b>{{ monitor }}</b> {{ monitor.latest_is_up|yesno:"Running,Down" }} since {{ monitor.last_change }}
      {% else %}
        <span class="unknown-symbol">?</span>
        <b>{{ monitor }}</b> no status reported
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="glitchtip-branding">
    <div>Powered by</div>
    <a href="https://glitchtip.com"
      >
        <img
          src="{% get_domain %}{% static 'images/logo.png' %}"
          class="logo"
          alt="GlitchTip"
          width="150"
          height="37"
        />
    </a>
  </div>
</div>
